:root {
    --main-light-color: #ffffff;
    --main-font-color: #2E2F42;
    --secondare-font-color: #434455;
    --accent-color: #4D5AE5;
    --border-bg-color: #F4F4FD;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* Загал */

body {
    font-family: "Roboto", sans-serif;
    color: var(--secondare-font-color);
    background: var(--main-light-color);
    margin: 0%;
}


ul {
    list-style: none;
    display: flex;
}

a {
    text-decoration: none;
}

li {
    background-color: var(--main-light-color);
    display: flex;
}

h1,
h2,
h3,
p {
    margin-top: 0%;
    margin-bottom: 0;
}


address {
    font-style: normal;
}



.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.logo {
    font-family: "Raleway";
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-color);

}



.logo-studio {
    color: var(--main-font-color);

}

.nav a {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-font-color);





}


.nav a:hover {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

.nav a:focus {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

.contacts a {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-font-color);
    /* display: inline-block; */
    margin: 0%;

}

.contacts a:hover {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

.contacts a:focus {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

/* Студіо */

.btn {
    background: var(--border-bg-color);

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: 1px solid #E7E9FC;
    border-radius: 4px;

    color: var(--accent-color);
    cursor: pointer;

}

.btn:hover,
.btn:focus {
    background-color: var(--accent-color);
    color: var(--main-light-color);

}


.servise {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    /* identical to box height, or 120% */

    letter-spacing: 0.02em;
    color: var(--main-font-color);
}

.servise-list {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    /* identical to box height, or 150% */

    letter-spacing: 0.02em;
    color: var(--secondare-font-color);
}

.section1 {
    margin-top: 0%;

    background: var(--main-font-color);
    width: 1440px;
    height: 600px;
    text-align: center;
    margin-bottom: 120px;



}





.btn-main {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    /* identical to box height, or 150% */
    letter-spacing: 0.04em;

    color: var(--main-light-color);
    background: var(--accent-color);
    cursor: pointer;
    border-radius: 4px;







}

.btn-main:hover,
.btn-main:focus {

    background: #404BBF;

}


.text-main {

    font-size: 56px;
    line-height: 1.07;
    /* or 107% */

    text-align: center;
    letter-spacing: 0.02em;

    color: var(--main-light-color);

    padding-top: 188px;
    margin-bottom: 48px;

    width: 511px;
    margin: 0 auto 48px;


}

.heading1 {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-transform: capitalize;
    color: var(--main-font-color);
    padding-top: 0%;
    padding-bottom: 72px;



}

.name {

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-font-color);

}

.specialist {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondare-font-color);

}

.quality {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-font-color);
}

.quality-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondare-font-color);
}


/* Footer */

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
    width: 264px;



}

.footer {
    background: var(--main-font-color);
    margin-top: 0%;
    margin-bottom: 0;
    width: 1128px;
    padding-left: 15px;
    padding-right: 15px;


    margin-left: auto;
    margin-right: auto;
    align-items: center;



}

.logo-footer {
    color: #E7E9FC;

}

/* Портфоліо */





/* shlak */



.nav,
.contacts {
    display: flex;

}

.container {
    width: 1128px;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;

    margin-left: auto;
    margin-right: auto;

    display: flex;
    text-align: center;


}

.page-header {
    margin: 0%;
    border-bottom: 1px #E7E9FC;
    align-items: center;
    display: flex;

}


.container-footer {
    width: 1128px;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    display: flex;

    margin-top: 120px;
}

.card {
    width: 1128px;
    padding-left: 15px;
    padding-right: 15px;

    margin-left: auto;
    margin-right: auto;
    align-items: center;

}

.btn-nav {
    width: 1128px;
    padding-left: 15px;
    padding-right: 15px;

    margin-left: auto;
    margin-right: auto;
    align-items: center;
    margin-top: 96px;



}

.btn-profile {
    display: flex;
    margin-right: 24px;
    align-items: center;
    justify-content: center;


}

.projects {
    width: 1128px;
    padding-left: 15px;
    padding-right: 15px;

    margin-left: auto;
    margin-right: auto;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 120px;
    margin-top: 72px;
}


.team {
    background: var(--main-light-color);
    display: inline;

    flex-basis: calc(100% / 3);
    padding-bottom: 48px;
    padding-left: 24px;
    margin-left: -24px;
    border-bottom: 1px #E7E9FC;
}

.specialist-person {
    width: 1128px;
    padding-left: 15px;
    padding-right: 15px;

    margin-left: auto;
    margin-right: auto;
    align-items: center;
    flex-wrap: wrap;

}

.specialist-person-icon {
    flex-basis: calc(100% / 4);
    display: inline;
}

.nav-link {
    margin-right: 40px;
}

.nav .nav-link:last-child {
    margin-bottom: 0%;
}




.nav-contacts {
    margin-right: 40px;
}

.container {
    width: 1128px;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;

    margin-left: auto;
    margin-right: auto;

    display: flex;
    text-align: center;
}

.section {
    justify-content: space-between;
    width: 1128px;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;

    margin-left: auto;
    margin-right: auto;

    margin-bottom: 0%;
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;

}

.bg-color {
    background-color: var(--border-bg-color);
}

.goals {
    display: flex;
    align-items: center;
    justify-content: center;


}

.goals-item{
    text-align: left;
   
}